body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
}